/*===============================
 time:1421721365
================================================================================*/
#juxvm_mm_209 .jux-megamenu.animate .mega > .mega-dropdown-menu,
#juxvm_mm_209 .jux-megamenu.animate.slide .mega>.mega-dropdown-menu>div{transition-duration:400ms;-webkit-transition-duration:400ms;-ms-transition-duration:400ms;-o-transition-duration:400ms}#juxvm_mm_209{background-color:#fff;border-width:none;border-style:;border-color:;margin:0px
0px 0px 0px;padding:8px
0px 8px 0px}#juxvm_mm_209 .jux-megamenu .dropdown-menu{background-color:#fff;border-width:1px;border-style:solid;border-color:#f02836;padding:0px
0px 0px 0px;margin:0px
0px 0px 0px;border-radius:0px 5px 5px 0px;-moz-border-radius:0px 5px 5px 0px;-o-border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px;-ms-border-radius:0px 5px 5px 0px;box-shadow:;-moz-box-shadow:;-webkit-box-shadow:;-o-box-shadow:;-ms-box-shadow: }#juxvm_mm_209 .jux-nav>li>a{border-width:1px;border-style:solid;border-color:#eb0e0e;padding:10px;color:#443ce6}#juxvm_mm_209 .jux-nav .dropdown-toggle
.caret{border-top-color:#443ce6;border-bottom-color:#443ce6}#juxvm_mm_209 .jux-nav > li > a:hover,
#juxvm_mm_209 .jux-nav > li > a:focus,
#juxvm_mm_209 .jux-nav > li.current > a,
#juxvm_mm_209 .jux-nav > li.active > a,
#juxvm_mm_209 .jux-nav>li:hover>a{background:#fff;color:#0a0808}#juxvm_mm_209 .jux-nav .dropdown-toggle:hover
.caret{border-top-color:#0a0808;border-bottom-color:#0a0808}#juxvm_mm_209.jux-vertical.jux-right .jux-nav>li.mega>a:after{border-color:transparent #443ce6}#juxvm_mm_209.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:transparent transparent transparent #443ce6}#juxvm_mm_209.jux-vertical.jux-right .jux-nav>li.mega:hover>a:after{border-color:transparent #0a0808}#juxvm_mm_209.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:transparent transparent transparent #0a0808}@media (max-width: 767px){#juxvm_mm_209 .jux-nav > li.mega > a:after,
#juxvm_mm_209.jux-vertical.jux-right .jux-nav > li.mega > a:after,
.jux-vertical.jux-left .jux-nav>li.mega>a:after{border-color:#443ce6 transparent !important}#juxvm_mm_209 .jux-nav > li.mega:hover > a:after,
#juxvm_mm_209.jux-vertical.jux-right .jux-nav > li.mega:hover > a:after,
#juxvm_mm_209.jux-vertical.jux-left .jux-nav>li.mega:hover>a:after{border-color:#0a0808 transparent !important}}#juxvm_mm_209 .jux-megamenu .dropdown-menu
a{border-width:none;border-style:;border-color:;padding:0px
2px 0px 10px;margin:0px
0px 0px 0px;color:#eb1131}#juxvm_mm_209 .jux-megamenu .dropdown-menu li > a:hover,
#juxvm_mm_209 .jux-megamenu .dropdown-menu li > a:focus,
#juxvm_mm_209 .dropdown-menu li > a:hover,
#juxvm_mm_209 .dropdown-menu li.current > a,
#juxvm_mm_209 .dropdown-menu li.active > a,
#juxvm_mm_209 .dropdown-menu li > a:focus,
#juxvm_mm_209 .dropdown-submenu:hover>a{background:#fff;color:#050405}#juxvm_mm_209 .jux-megamenu .dropdown-submenu>a:after{border-color:#eb1131}#juxvm_mm_209 .jux-megamenu .dropdown-submenu:hover>a:after{border-color:#050405}@media (max-width: 767px){#juxvm_mm_209 .jux-megamenu .dropdown-submenu > a:after,
#juxvm_mm_209 .jux-megamenu .mega-group>a:after{border-color:#eb1131 transparent !important}#juxvm_mm_209 .jux-megamenu .dropdown-submenu:hover > a:after,
#juxvm_mm_209 .jux-megamenu .mega-group:hover>a:after{border-color:#050405 transparent !important}}