{
  "name": "less",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "bootstrap.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/bootstrap.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true}}"
    },
    {
      "path": "components.less",
      "configJson": "{\"compiler-less\":{\"path\":\"components.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/components.css\"}"
    },
    {
      "path": "core.less",
      "configJson": "{\"compiler-less\":{\"path\":\"core.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/core.css\"}"
    },
    {
      "path": "edits.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/edits.css\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true}}"
    },
    {
      "path": "forms.less",
      "configJson": "{\"compiler-less\":{\"path\":\"forms.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/forms.css\"}"
    },
    {
      "path": "home.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/home.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true}}"
    },
    {
      "path": "joomla.less",
      "configJson": "{\"compiler-less\":{\"path\":\"joomla.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/joomla.css\"}"
    },
    {
      "path": "megamenu.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/megamenu.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true}}"
    },
    {
      "path": "modules.less",
      "configJson": "{\"compiler-less\":{\"path\":\"modules.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/modules.css\"}"
    },
    {
      "path": "navbar.less",
      "configJson": "{\"compiler-less\":{\"path\":\"navbar.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/navbar.css\"}"
    },
    {
      "path": "navigation.less",
      "configJson": "{\"compiler-less\":{\"path\":\"navigation.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/navigation.css\"}"
    },
    {
      "path": "off-canvas.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/off-canvas.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true}}"
    },
    {
      "path": "style.less",
      "configJson": "{\"compiler-less\":{\"path\":\"style.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"C:/xampp/htdocs/lovelyshop/templates/t3_bs3_blank2/css/style.css\"}"
    },
    {
      "path": "template.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/template.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false}}"
    },
    {
      "path": "typography.less",
      "configJson": "{\"compiler-less\":{\"path\":\"typography.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/typography.css\"}"
    },
    {
      "path": "variables.less",
      "configJson": "{\"compiler-less\":{\"path\":\"variables.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/variables.css\"}"
    },
    {
      "path": "vars.less",
      "configJson": "{\"compiler-less\":{\"path\":\"vars.less\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/vars.css\"}"
    },
    {
      "path": "windows.less",
      "configJson": "{\"compiler-less\":{\"path\":\"windows.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/windows.css\"}"
    },
    {
      "path": "rtl/joomla.less",
      "configJson": "{\"compiler-less\":{\"path\":\"rtl/joomla.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/rtl/joomla.css\"}"
    },
    {
      "path": "rtl/style.less",
      "configJson": "{\"compiler-less\":{\"path\":\"rtl/style.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/rtl/style.css\"}"
    },
    {
      "path": "rtl/template.less",
      "configJson": "{\"compiler-less\":{\"path\":\"rtl/template.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/rtl/template.css\"}"
    },
    {
      "path": "rtl/template.css",
      "configJson": "{\"compiler-css\":{\"path\":\"rtl/template.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"rtl/template-dist.css\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "bootstrap.less",
      "imports": [
        "../../../plugins/system/t3/base-bs3/bootstrap/less/normalize.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/print.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/scaffolding.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/code.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/grid.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/tables.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/forms.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/buttons.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/component-animations.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/glyphicons.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/dropdowns.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/button-groups.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/input-groups.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/navs.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/navbar.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/breadcrumbs.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/pagination.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/pager.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/labels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/badges.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/jumbotron.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/thumbnails.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/alerts.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/progress-bars.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/media.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/list-group.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/panels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/wells.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/close.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/modals.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/tooltip.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/popovers.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/carousel.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/utilities.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/responsive-utilities.less"
      ]
    },
    {
      "path": "megamenu.less",
      "imports": [
        "../../../plugins/system/t3/base-bs3/less/megamenu.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/variables.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/less/variables.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/hide-text.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/opacity.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/image.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/labels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/reset-filter.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/resize.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/responsive-visibility.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/size.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/tab-focus.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-emphasis.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-overflow.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/vendor-prefixes.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/alerts.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/buttons.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/panels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/pagination.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/list-group.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-divider.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/forms.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/progress-bar.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/table-row.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/background-variant.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/border-radius.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/gradients.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/clearfix.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/center-block.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-vertical-align.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid-framework.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "off-canvas.less",
      "imports": [
        "../../../plugins/system/t3/base-bs3/less/off-canvas.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/variables.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/less/variables.less",
        "../../../plugins/system/t3/base-bs3/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/hide-text.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/opacity.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/image.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/labels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/reset-filter.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/resize.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/responsive-visibility.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/size.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/tab-focus.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-emphasis.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-overflow.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/vendor-prefixes.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/alerts.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/buttons.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/panels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/pagination.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/list-group.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-divider.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/forms.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/progress-bar.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/table-row.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/background-variant.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/border-radius.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/gradients.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/clearfix.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/center-block.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-vertical-align.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid-framework.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "template.less",
      "imports": [
        "variables.less",
        "../../../plugins/system/t3/base-bs3/less/t3.less",
        "core.less",
        "typography.less",
        "forms.less",
        "navigation.less",
        "navbar.less",
        "modules.less",
        "joomla.less",
        "components.less",
        "vars.less",
        "builder.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/variables.less",
        "../../../plugins/system/t3/base-bs3/less/variables.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/hide-text.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/opacity.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/image.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/labels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/reset-filter.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/resize.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/responsive-visibility.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/size.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/tab-focus.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-emphasis.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-overflow.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/vendor-prefixes.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/alerts.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/buttons.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/panels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/pagination.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/list-group.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-divider.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/forms.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/progress-bar.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/table-row.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/background-variant.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/border-radius.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/gradients.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/clearfix.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/center-block.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-vertical-align.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid-framework.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "vars.less",
      "imports": [
        "../../../plugins/system/t3/base-bs3/bootstrap/less/variables.less",
        "../../../plugins/system/t3/base-bs3/less/variables.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/less/mixins.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/hide-text.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/opacity.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/image.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/labels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/reset-filter.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/resize.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/responsive-visibility.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/size.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/tab-focus.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-emphasis.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/text-overflow.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/vendor-prefixes.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/alerts.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/buttons.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/panels.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/pagination.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/list-group.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-divider.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/forms.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/progress-bar.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/table-row.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/background-variant.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/border-radius.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/gradients.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/clearfix.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/center-block.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/nav-vertical-align.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid-framework.less",
        "../../../plugins/system/t3/base-bs3/bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "builder.less",
      "imports": [
        "variables.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"nested\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\",\"cssnext\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":\"css../\"},\"outputSuffix\":null}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":false,\"compiler-pug\":{\"pretty\":false,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compiler-javascript\":{\"mangle\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":false,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":false,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":false,\"compiler-haml\":{\"pretty\":false,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":false,\"compiler-slim\":{\"pretty\":false,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":false,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":false,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":false,\"compiler-livescript\":{\"bare\":false,\"mangle\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":false,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": false,
      "properties": false,
      "dead_code": false,
      "drop_debugger": false,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": false,
      "comparisons": false,
      "evaluate": false,
      "booleans": false,
      "loops": false,
      "unused": false,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": false,
      "hoist_vars": false,
      "if_return": false,
      "join_vars": false,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": false,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": false,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": false,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}